<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- Speed up app deployment in debug mode. Not used API<8, that's why "UnusedAttribute". -->
    <application
        android:vmSafeMode="true"
        tools:ignore="UnusedAttribute"/>
</manifest>